[Unit]
Description=Celery Beat Scheduler Service
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/api/version34
ExecStart=/home/ec2-user/api/env/bin/celery -A internal beat --loglevel=INFO
Restart=always

[Install]
WantedBy=multi-user.target